<p>playlists-view works!</p>

<div class="row">
  <div class="col">
    <app-playlists-list 
        [items]="playlists" 
        [(selected)]="selected">
        <!-- (selectedItem)=" selected = $event"> -->
    </app-playlists-list>
  </div>
  <div class="col" [hidden]="mode === 'edit' ">
    <app-playlist-details [selected]="selected" (editItem)="edit()"></app-playlist-details>
    <!-- <button class="btn btn-info" (click)="edit()">Edit</button> -->
  </div>
  <div class="col" [hidden]="mode === 'details' ">
    <app-playlist-editor [playlist]="selected" (cancelItem)="cancel()" (saveItem)="save($event)"></app-playlist-editor>

    <!-- <button class="btn btn-danger" (click)="cancel()">Cancel</button> -->
    <!-- <button class="btn btn-success" (click)="save()">Save</button> -->

    <!-- <button class="btn btn-success" (click)="save()">Save</button> -->
  </div>
</div>
<p>playlists-view end</p>

