<p>playlists-list</p>
<div class="list-group">
    <div class="list-group-item" *ngFor="let p of playlists; index as i" (click)="select(p)" [class.active]="p.id === selected.id">
        Item: {{i}} : {{p.name}}
    </div>
</div>

<p>playlists-list end</p>
