<div class="card" [routerLink]="['/music/albums/', result.id]">
  <img [src]="result.images[0].url" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{result.name}}</h5>
  </div>
</div>