<div *ngIf="album$ | async as album">
  <div class="row mb-3">
    <div class="col">
      <h3> TEST </h3>
      <hr />
      <small class="text-muted"> {{album.id}} </small>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <img [src]="album.images[0].url" alt="">
      <!-- <app-album-card [album]="?????"></app-album-card> -->
    </div>
    <div class="col">
      <dl>
        <dt>Album Name:</dt>
        <dd>{{ album.name }}</dd>
        <dt>Artist Name:</dt>
        <dd>{{ album.artists[0].name }}</dd>
      </dl>
    </div>
  </div>
</div>
<small class="text-muted">ID: {{ID$ | async}} </small>