<p>playlist Editor </p>


<div class="form-group mb-3">
  <label>Name:</label>
  <input type="text" class="form-control" [(ngModel)]="draft.name" #nameRef>
  <p class="text-muted"> {{draft.name.length}} / 180 </p>
</div>

<div class="form-group mb-3">
  <label><input type="checkbox" 
    [(ngModel)]="draft.public"> Public</label>
</div>

<div class="form-group mb-3">
  <label>Description:</label>
  <textarea class="form-control"
  [(ngModel)]="draft.description"></textarea>
</div>

<button class="btn btn-danger" (click)="cancel()">Cancel</button>
<button class="btn btn-success" (click)="save()">Save</button>

<p>draft Editor End</p>