<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        `<li class="nav-item">
          <a class="nav-link" routerLink="/">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/music">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/music/search">Search Music</a>
        </li>`
        <li class="float-right navbar-text align-self-right">
          <div>
            <app-clock></app-clock>
          </div>

        </li>



      </ul>
    </div>
  </div>
</nav>
<!-- ................. -->


<div class="container">
  <div class="row">
    <div class=" col">


      <!-- <app-playlists-view></app-playlists-view> -->

      <router-outlet></router-outlet>

    </div>
  </div>
</div>