<p>Playlists Details Component</p>


<dl [title]="'Title: ' + selected.name"
    [attr.data-selected-id]="selected.id">
  
  <dt>Name:</dt>
  <dd [style.font-size.px]="size"
      [ngStyle]="{
        'border-bottom': 2 / 2 + 'px solid' 
      }">{{ selected.name }}</dd>

  <dt>Public:</dt>
  <dd class="isVisible"
    [class.isPublic]="selected.public"
    [class.isPrivate]="!selected.public"
  >{{ selected.public ? 'Yes' : 'No' }}</dd>

  <dt>Desciption:</dt>
  <dd>{{ selected.description }}</dd>
</dl>
 <button class="btn btn-info" (click)="edit()">Edit</button>
<p>Playlists Details Component End</p>